body {
  background-color: var(--mycolor01);
  padding-top: 15px;
}

.wrapper {
  width: 1024px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.banner nav {
  background-color: var(--mycolor02);
  text-align: center;
}

.banner nav ul {
  display: inline-block;
}

.banner nav ul li {
  list-style-type: none;
  float: left;
}

.banner nav ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: azure; */
  margin-right: 50px;
  text-decoration: none;
  color: var(--mycolor04);
}

.banner nav ul li a:hover {
  background-color: var(--mycolor01);
}
.sidebar{
  background-color: var(--mycolor04);
  width: 250px;
  height: 55vh;
  /* 80vh: 瀏覽器高度的80% */
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.sidebar nav ul li{
  list-style-type: none;
}
.sidebar nav ul li a{
  background-color: var(--mycolor01);
  display: block;
  width: 150px;
  height: 60px;
  text-align: center;
  margin-top: 5px;
  line-height: 60px;
  text-decoration: none;
  font-size: 20px;
}
.sidebar nav ul li a:hover{
  background-color: var(--mycolor02);
  color: var(--textcolor01);
}
.content_in {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--mycolor03);
  margin-top: 10px;
}
.content_in h1 {
  color: var(--mycolor01);
  text-align: center;
}
.content_in p {
  font-style: 20px;
  margin-bottom: 30px;
}
.content_in a {
  display: block;
  width: 130px;
  height: 40px;
  background-color: var(--mycolor01);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 40px;
  font-weight: bolder;
}
.content_in a:hover {
  color: #fff;
  background-color: black;
}
.footer {
  background-color: var(--mycolor02);
  text-align: center;
}
.footer p {
  font-size: 20px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px){
  .wrapper {
    width: 100%;
  }
  .sidebar{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .sidebar ul{
    display: inline-block;
  }
  .sidebar ul li{
    float:left; 
    margin-right: 5px;
  }  
}
